<!-- Template for the footer -->
<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <a class="footer-brand" href=""><img class="logo" src="/resources/assets/vectors/logo-com-color.svg" alt="City of Marion"></a>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="row">
            <div class="quick-menu">
              <div class="col-xs-12 col-md-4  footer-link">
                Employment
              </div>
              <div class="col-xs-12 col-md-4  footer-link">
                Suggestions
              </div>
              <div class="col-xs-12 col-md-4  footer-link">
                Contact
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="row">
            <div class="social-media">
              <div class="col-xs-3">
                <img src="/resources/assets/vectors/social-facebook.svg">
              </div>
              <div class="col-xs-3">
                <img src="/resources/assets/vectors/social-twitter.svg">
              </div>
              <div class="col-xs-3">
                <img src="/resources/assets/vectors/social-instagram.svg">
              </div>
              <div class="col-xs-3">
                <img src="/resources/assets/vectors/social-linkedin.svg">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="social">
        <a href="https://www.facebook.com/fmbiblequizzing/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="https://twitter.com/fmquizzing"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
      </div>
      <p class="text-center copyright">Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}. All rights reserved</p>
    </div>
  </div>
</footer>
