<div class="color-bar"></div>
<nav class="navbar">
  <div class="container-fluid">
  	<div class="navbar-header">
  	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
  		<img src="/resources/assets/vectors/menu.svg">
  	  </button>
  	  <a class="navbar-brand" href="{{ siteUrl }}"><img class="logo" src="/resources/assets/vectors/logo-com-color.svg" alt="City of Marion"></a>
  	</div>
	<div class="collapse navbar-collapse myNavbar">
	  <ul class="nav navbar-nav navbar-right">
		<li><a href="{{ siteUrl }}living">Living</a></li>
		<li><a href="{{ siteUrl }}business">Business</a></li>
		<li><a href="{{ siteUrl }}visit">Visit</a></li>
		<li><a href="{{ siteUrl }}government">Government</a></li>
    <li><div class="dropdown">
      <a class="btn dropdown-toggle" type="button" data-toggle="dropdown">
        <img class="menu-img" src="/resources/assets/vectors/menu.svg" alt="Menu">
      <ul class="dropdown-menu">
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
      </ul>
      </a>
    </div>
    </li>
	  </ul>
	</div>
  </div>
</nav>
